<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>

 <main>
        <div class="container">
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_900.png" alt="gib1">
                </div>
                <div class="content">
                    <h2>Explorer</h2>
                    <p>Más de 60 años después, artistas de todos los géneros utilizan la Gibson Explorer, lo que la convierte en uno de los verdaderos clásicos del mundo de la guitarra. El acabado Antique Natural, toda la construcción del mástil de caoba, el diapasón de palisandro y el mástil cónico delgado brindan un aspecto, un sonido y una interpretación clásicos increíbles. Un conjunto especial de pastillas calibradas Burstbucker 2 (mástil) y Burstbucker 3 (puente) proporcionan la combinación perfecta de volumen, tono y potencia.</p>
                </div>
            </div>
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_901.png" alt="gib2">
                </div>
                <div class="content">
                    <h2>Flying V</h2>
                    <p>Introducido en 1958 y solo fabricado en cantidades limitadas, el Gibson Flying V™ ha tomado vuelo a lo largo de los años junto con legiones de seguidores. Este Flying V lleva el legado a nuevas alturas. El acabado Antique Natural, el cuerpo de caoba y el mástil SlimTaper™ con diapasón de palisandro brindan una apariencia, un sonido y una interpretación clásicos. Un conjunto especial de pastillas calibradas BurstBucker™ 2 (mástil) y BurstBucker 3 (puente) proporcionan la combinación perfecta de volumen, tono y potencia.</p>
                </div>
            </div>
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_902.png" alt="gib3">
                </div>
                <div class="content">
                    <h2>Les Paul</h2>
                    <p>La Les Paul Standard 60's tiene un cuerpo de caoba maciza con una tapa de arce con figuras AA y un mástil de caoba delgado y cónico. Está equipado con un puente Tune-O-Matic de estilo clásico, un cordal de barra de tope de aluminio, sintonizadores Grover Rotomatic "Kidney" y perillas de sombrero de copa doradas con reflectores plateados. Las pastillas Burstbucker 61R (cuello) Burstbucker 61T (puente) están cargadas con imanes AlNiCo V, potenciómetros cónicos de audio y condensadores de gota naranja.</p>
                </div>
            </div>
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_903.png" alt="gib3">
                </div>
                <div class="content">
                    <h2>Firebird</h2>
                    <p>Firebird tiene un diseño de cuerpo y clavijero invertido tal como se introdujo originalmente en 1963 y fue el primer diseño de cuello a través del cuerpo de Gibson. El mástil tradicional de caoba/nogal de 9 capas a lo largo del cuerpo proporciona una tonalidad rica y cálida y un sustain increíble. El Firebird recientemente renovado está equipado con la pastilla Alnico V Firebird rediseñada para recuperar la salida abrasadora y los tonos abrasadores de la voz original por la que se conoce al Firebird. Disponible en 2 acabados clásicos: Tobacco Sunburst y Cherry.</p>
                </div>
            </div>
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_904.png" alt="gib3">
                </div>
                <div class="content">
                    <h2>SG</h2>
                    <p>La Gibson SG Standard '61 Maestro Vibrola agrega capacidad de vibrato a la SG Standard '61. Las características estándar incluyen un mástil de caoba SlimTaper™ y un diapasón de palisandro encuadernado. El cuerpo de caoba presenta un escarpado del cuerpo profundamente esculpido. El hardware niquelado incluye un puente Tune-O-Matic™ de estilo clásico y afinadores Keystone además del cordal Maestro Vibrola. Las pastillas son humbuckers ™ 61R y 61T para una voz clásica con mayor potencia y extremo superior.</p>
                </div>
            </div>
            <div class="card">
                <div class="gib">
                    <img src="/images/front-banner-1600_905.png" alt="gib3">
                </div>
                <div class="content">
                    <h2>B.B. King Lucille Legacy</h2>
                    <p>Los aspectos más destacados incluyen herrajes dorados, incluido un "B.B. King” cubierta de alma grabada y cordal TP-6 ​​con afinadores finos. Una incrustación de nácar "Lucille" adorna el clavijero, y el diapasón de ébano presenta incrustaciones de nácar de bloque dividido. Un interruptor Varitone mono, junto con cuatro potenciómetros CTS® cónicos de audio y condensadores Bumblebee de papel en aceite, se combinan con pastillas humbucker Gibson Custombucker.</p>
                </div>
            </div>
        </div>
    </main>