<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>

<span>MODELOS</span>
        <div class="guitarras">
            <ul class="guitarras-list">
                <li>
                <img src="/images/front-banner-1600_900.png" alt="Explorer">
                    <div class="guitarras-description">
                     <div class="deatil-buttons">
                        <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_901.png" alt="Flying v">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_902.png" alt="Les Paul">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >

                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_903.png" alt="Thunderbird">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_904.png" alt="SG">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_905.png" alt="Lucille">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_906.png" alt="Les Paul">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_907.png" alt="SG">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_908.png" alt="Flying V">
                    <div class="guitarras-description">
                        <div class="deatil-buttons">
                            <a href="#">Detalle</a >
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/front-banner-1600_909.png" alt="Explorer">
                    <div class="guitarras-description">
                      <div class="deatil-buttons">
                          <a href="#">Detalle</a >
                      </div>
                    </div>
                </li>
            </ul>
            </div>
        <section>
            <div class="caja-video">
                <div class="video-responsive">
                    <iframe src="https://www.youtube.com/embed/A_6rkDTZAxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>