<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  
  </head>
    
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="/destacados">Destacados</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/registro">Registro</a></li>
      </ul>
    </nav>

    {{{body}}}

  </body>
</html>
