<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
   <header>
    <h1>{{title}}</h1>
    <h3>Welcome to {{title}}</h3>
  </header>
    
  <body>
    <section class="form-register">
      <h4>Formulario de registro</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
      <input class="controls" type="text" name="apellidos" id="nombres" placeholder="Ingrese su Apellido">
      <input class="controls" type="email" name="correo" id="nombres" placeholder="Ingrese su Correo">
      <input class="controls" type="password" name="correo" id="nombres" placeholder="Ingrese su Contraseña">
      <p><input type="checkbox" />Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
      <input class="botons" type="submit" value="Registrar">
      <p><a href="#">Ya tengo una Cuenta</a></p>
    </section>
  </body>
</html>
